.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #21618C;
    color: white;
    text-align: center;
 }

.header {
    position: relative;
    width: 100%;
    background-color: #21618C;
    
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 130px;
    height: 105px;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}


.navbar {
    position: relative;
    background-color: #21618C;
    
}
.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.navbar-links {
    padding: 28px 0;
}

.navbar-links li{
    display: inline-block;
    margin: 0 15px;
}

.navbar-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0px;
}