<div class="header">
    <nav class="nav1">
        <img src="assets/images/kms.png" class=logo>
        <h2 style="color: white;">Username</h2>
        <ul class="nav-links">
            <li><a routerLink="/">Logout</a></li>
        </ul>
    </nav>
</div>
<p></p>
<p></p>
<div class="navbar">
    <nav class="nav2">
        <h3 style="color: white;">Document Management</h3>
        <ul class="navbar-links">
            <li><a routerLink="/dashb">Dashboard</a></li>
            <li><a routerLink="/search">Search</a></li>
        </ul>
    </nav>
</div>
<div class="footer">
    <p>
      @Copyright 2021
    </p>
</div>