<div class="header">
    <nav class="nav1">
        <img src="assets/images/kms.png" class=logo>
        <h2 style="color: white;">Knowledge Management System</h2>
        <ul class="nav-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Signup</a></li>
        </ul>
    </nav>
</div>
<p></p>
<form align='center' (submit)="signupUser($event)" >
    Name:<input type="text" placeholder="Username" id="username">
    <p></p>
    Password:<input type="text" placeholder="Password" id="password">
    <p></p>
    Confirm Password: <input type="text" placeholder="Retype Password" id="repassword">
    <p></p>
    <a routerLink="/login"><input type="submit" value="submit"></a>
</form>