<div class="header">
    <nav class="nav1">
        <img src="assets/images/kms.png" class=logo>
        <h2 style="color: white;">Knowledge Management System</h2>
        <ul class="nav-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Signup</a></li>
        </ul>
    </nav>
</div>
<h2 align='center'>Welcome to our system. This system helps you in storing your documents. Creating and deleting them.</h2>